/* Header
================================================== */

.site-header-top {
	color: #fff;
	vertical-align: middle;
	    background-color: #3d4754;
}

.site-header-top .nav-top,
.site-header-top-info {
	font-size: .8em;	
}

.site-header-top-info {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	position: relative;
}

.site-header-top-info .icon:before {
	color: #ffed00;
	font-size: 1.75em;
	left: -20px;
	line-height: inherit;
	position: absolute;
	vertical-align: middle;
	width: 20px;
}

.site-header-bg {
	background-image: url('assets/images/bg-site-header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.site-header-bg-inner {
	background-color: rgba(129,207,224,.6);
}

.site-header.site-section {
	color: #fff;
	padding-bottom: 0;
	padding-top: 40px;
}

.site-header .container {
	position: relative;
}

.site-header-title {
	float: left;
	width: auto;
}

.site-header-title .site-title {
	color: #fff;
	display: inline-block;
	line-height: 80px;
	margin-bottom: 0;
	margin-right: 10px;
}

.site-header-title .site-title a:hover {
	color: inherit;
}

.site-header-title .site-description {
	display: inline-block;
	font-size: smaller;
	line-height: normal;
	opacity: .75;
}

.site-header nav {
	bottom: 0;
	position: absolute;
	right: 0;
}

#banner {
	padding: 160px 20px 200px;
}

@media screen and (max-width: 980px) {
	
	.site-header-top-info {
		margin: 20px 0;
		text-align: center;
	}
	
	.site-header-bg {
		background-position: center;
	}
	
	.site-header.site-section {
		background-position: center top;
		padding-top: 40px;
	}
	
	.site-header .container {
		border-bottom: 0;
	}
	
	.site-header-title {
		float: none;
	}
	
	.site-header-title .site-title {
		line-height: normal;
		margin-bottom: 15px;
		margin-right: 0;
	}
	
	.site-header-title .site-title,
	.site-header-title .site-description {
		display: block;
		text-align: center;
	}
	
	.site-header-title .site-description {
		margin-bottom: 40px;
	}
	
	.site-header nav {
		bottom: auto;
		float: none;
		position: relative;
		right: auto;
	}
	
	.site-header .container,
	.nav-secondary .container {
		width: 100%;
	}
	
	#banner {
		padding: 60px 20px 40px;
	}

}
.wpsight-menu .menu-item {
    display: inline-block;
    padding: 0;
    text-align: left;
}
/** Top menu */

.nav-top .menu-item i._before {
	margin-right: .5em;
}

.nav-top .menu-item i._mi {
	margin-top: -.2em;
}

@media screen and (min-width: 981px) {
	
	.nav-top .wpsight-menu a {
		border-right: 2px solid rgba(255,255,255,.05);
		font-size: inherit;
		padding: 0 20px;
	}
	
	.nav-top .wpsight-menu > .first-menu-item > a {
		border-left: 2px solid rgba(255,255,255,.05);
	}

	.nav-top .wpsight-menu .sub-menu {
		margin-left: 0;
	}
	
	.nav-top .wpsight-menu .sub-menu .sub-menu {
		margin-left: 200px;
	}
	
	.nav-top .wpsight-menu .sub-menu a {
		border: 0;
	}

}

@media screen and (max-width: 980px) {
	
	.nav-top {
		margin: 0 -6%;
	}

	.wpsight-menu .menu-item.menu-item-has-children > a:after,
	.wpsight-menu .sub-menu .menu-item.menu-item-has-children > a:after {
		display: none;
	}

}
.site-header-top .nav-top, .site-header-top-info {
    font-size: 1em;
    font: inherit;
}
.wpsight-menu.wpsight-menu-right {
    text-align: right;
}

.wpsight-menu {
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.wpsight-menu a, .wpsight-menu .sub-menu a {
    height: 50px;
    line-height: 50px;
}

@media screen and (min-width: 981px)
.nav-top .wpsight-menu > .first-menu-item > a {
    border-left: 2px solid rgba(255,255,255,.05);
}
@media screen and (min-width: 981px)
.nav-top .wpsight-menu a {
    border-right: 2px solid rgba(255,255,255,.05);
    font-size: inherit;
    padding: 0 20px;
}

.wpsight-menu a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
}
.fa-feed:before, .fa-rss:before {
    content: "\f09e";
}
.fa-feed:before, .fa-rss:before {
    content: "\f09e";
}


